.header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  
    ion-button {
      --padding-start: 4px;
      --padding-end: 4px;
      margin: 0 8px 0 0;
      height: 36px;
      width: 36px;
      --color: #1f2937;
    }
  
    h1 {
      font-size: 20px;
      font-weight: bold;
      color: #1f2937;
      margin: 0;
    }
  }
  