<ion-content class="ion-padding">
  <div class="register-container">
    <!-- Logo -->
    <div class="logo-container">
      <ion-img
        class="logo-img"
        src="assets/img/logo.webp"
        alt="Restaurant Logo">
      </ion-img>
    </div>
    <!-- Titulo -->
    <h1>Crear Cuenta</h1>

    <!-- Formulario -->
    <form [formGroup]="form" (ngSubmit)="signUp()">
        <!-- Nombre -->
          <ion-item>
            <ion-input type="text" formControlName="nombre" labelPlacement="stacked" label="Nombre Completo" placeholder="Ivaniel Diaz">
              <ion-icon slot="start" name="person-outline" aria-hidden="true"></ion-icon>
            </ion-input>
          </ion-item>
          <!-- alerta -->
           <app-message-invalid [formGroup]="form" controlName="nombre" message="Nombre es requerido" />

        <!-- Email -->
          <ion-item>
            <ion-input type="email" formControlName="email" labelPlacement="stacked" label="Email" placeholder="email@domain.com">
              <ion-icon slot="start" name="mail-outline" aria-hidden="true"></ion-icon>
            </ion-input>
          </ion-item>
            <!-- alerta -->
           <app-message-invalid [formGroup]="form" controlName="email" message="Email es requerido" />

        <!-- Teléfono -->
          <ion-item>
            <ion-input type="text" formControlName="telefono" labelPlacement="stacked" label="Teléfono/Celular" placeholder="6123 4567">
              <ion-icon slot="start" name="call-outline" aria-hidden="true"></ion-icon>
            </ion-input>
          </ion-item>
            <!-- alerta -->
           <app-message-invalid [formGroup]="form" controlName="telefono" message="Teléfono es requerido y es tipo numérico" />
  
        <!-- Password -->
        <ion-item>
          <ion-input type="password" formControlName="password" labelPlacement="stacked" label="Contraseña" placeholder="*********">
            <ion-icon slot="start" name="lock-closed-outline" aria-hidden="true"></ion-icon>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
        <!-- alerta -->
        <app-message-invalid [formGroup]="form" controlName="password" message="Contraseña es requerido" />
  
        <!-- Button -->
         <ion-button expand="block" type="submit" [disabled]="form.invalid">
          <ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
          <span *ngIf="!loading">Registrar</span>
         </ion-button>

         <!-- Error de servidor -->
          <app-message-error [errors]="errors"/>
    </form>

    <!-- Redirige -->
    <p class="login-link">
      ¿Ya tienes una cuenta?
      <a (click)="goToLogin()">Iniciar Sesión</a>
    </p>

  </div>
</ion-content>
